<div class="container">
  <div class="center-align">
    <h1 >Purrrsonality Test</h1> <br /><br />
    <%= link_to "Take the Test!", "#", class: "button btn deep-purple lighten-3" %> <br/> <br /><br />
    <%= button_to "Generate Random Cat Gif!", {controller: "home", action: "index", button: "picture"}, method: :post, class: "button btn deep-purple lighten-3" %><br /><br />
    <%= render partial: "shared/cat_picture" %>
  </div>


</div>
