<div class="container">
  <h1 class="center-align">Purrrsonality Test</h1> <br /><br />
  <div class="center-align">
    <%= link_to "Take the Test!", "#", class: " button btn" %> <br/> <br /><br />
    <%= button_to "Generate Random Cat Gif!", "#", class: "button btn" %>
  </div>
</div>
