<div class="container">
  <div class="center-align">
    <h1 >Purrrsonality Test</h1> <br /><br />
    <button name="get-questions" id="questions" class="button btn deep-purple lighten-3">Take the Test!</button> <br/> <br /><br />
    <div class="left-align questions">
      <!-- <div class="form-data">

      </div> -->
    </div>
    <button name="get-cat" class="button btn deep-purple lighten-3">Generate Random Cat Gif!</button><br /><br />
    <div class="cat-image">
    </div>
  </div>
</div>
