<div class="container">
  <div class="center-align">
    <h1 >Purrrsonality Test</h1> <br /><br />
    <button name="get-questions" class="button btn deep-purple lighten-3">Take the Test!</button> <br/> <br />
    <div class="left-align information">
      <div class="questions">

      </div>
    </div>
    <div id="facebook-button" class="fb-share-button" data-href="https://purrrsonalitytest.herokuapp.com/results" data-layout="button" data-mobile-iframe="false"></div> <br /><br />
    <button name="get-cat" class="button btn deep-purple lighten-3">Generate Random Cat Gif!</button><br /><br />
    <div class="cat-image">
    </div>
  </div>
</div>
