<div class="container">
  <div class="center-align">
    <h1>Purrrsonality Test</h1>
    <button name="get-questions" id="get-questions"class="button btn deep-purple lighten-3">Take the Test!</button>

    <br /><%= render partial: "shared/loader_gif" %>
    <div class="left-align information">
      <div class="questions">
      </div>
    </div>
    <div id="results1" class=row>

    </div>
    <div id="results2" class="row">

    </div>
    <div id="results3" class="row">

    </div>
    <div class="facebook">
    </div><br>
    <button name="get-cat" class="button btn deep-purple lighten-3">Generate Random Cat Gif!</button><br /><br />
    <div class="cat-image">
    </div>
  </div>
</div>
