<div class="container">
  <div class="center-align">
    <h1 >Purrrsonality Test</h1> <br /><br />
    <%= link_to "Take the Test!", "#", class: "button btn deep-purple lighten-3" %> <br/> <br /><br />
    <button name="get-cat" class="button btn deep-purple lighten-3">Generate Random Cat Gif!</button><br /><br />
    <div class="cat-image">
    </div>
  </div>


</div>
