<div class="container">
  <div class="center-align">
    <h3 class="purple-text text-lighten-2">About the Purrrsonality Test!</h3>
    <p class="test-description center-align">The Purrrsonality Test utilizes 50-questions personality test called the "Five Factor Personality Test." As you might expect, it will take a couple of minutes, but the results are worth it! Not only will get paired with one of 6 internet cats, but you will also see your results from five categories: extraversion, emotional stability, conscientiousness, agreeableness, and intellect. </p><br><br>
    <div class="cat-results-picture">
      <%= image_tag "/assets/shironeko.jpg"%>
    </div>
    <p>Are you a Shironeko? Or a Grumpy Cat? Find out!</p><br><br>
    <%= link_to "Back to Home!", root_path, class: "button btn deep-purple lighten-3" %>
  </div>
</div>
