<div class="container">
  <div class="center-align">
    <h3 class="purple-text text-lighten-2">About the Purrrsonality Test!</h3>
    <p class="test-description center-align">The Purrrsonality Test is a 50-question personality test which measures the "Big Five" personality traits devised by psychologist Lewis Goldberg: extraversion, emotional stability, conscientiousness, agreeableness, and intellect. As you might expect, it will take a couple of minutes, but the results are worth it! Not only will get paired with one of 6 internet cats, but you will also see your "Big Five" results! </p><br><br>
    <div class="cat-results-picture">
      <%= image_tag "/assets/shironeko.jpg"%>
    </div>
    <p class="test-description">Are you a Shironeko? Or a Grumpy Cat? Find out!</p><br><br>
    <%= link_to "Back to Home!", root_path, class: "button btn deep-purple lighten-3" %>
  </div>
</div>
