html {
   font-family: GillSans, Calibri, Trebuchet, sans-serif;
 }

 .circle{
   display: none;
 }

 .brand-logo {
   margin-left: 10px;
 }

 .responses {
   display: inline;
   font-size: 150%;
 }

 .all-questions {
   margin-left: 50px;
 }

.tab-space {
  padding-left: 2em;
}

.form {
  white-space: nowrap;
}

.card-center {
  margin: auto;
}

.factor-title {
  font-size: 18px;
}

.card-panel {
  width: 350px;
  height: 225px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cat-results-picture {
  text-align: center;
  display: block;
}

.cat-description {
  font-size: 18px;
}

.flash {
  text-align: center;
  display: none;
  color: pink;
}

.test-description{
  font-size: 150%;
}

.form-question{
  font-size: 17px;
  margin-top: 5px;
}

.question-options{
  font-size: 115%;
}

[type="radio"]:not(:checked)+label,
[type="radio"]:checked+label {
  padding-left: 24px;
  padding-right: 10px;
}

.questions{
  margin-left: 140px;
  margin-right: 140px;
}

#get-questions{
  margin-top: 40px;
}
