html {
   font-family: GillSans, Calibri, Trebuchet, sans-serif;
 }

 .brand-logo {
   margin-left: 10px;
 }

 .responses {
   display: inline;
 }

 .all-questions {
   margin-left: 50px;
 }

.tab-space {
  padding-left: 2em;
}

.form {
  white-space: nowrap;
}

.card-center {
  margin: auto;
}

.factor-title {
  font-size: 18px;
}

.card-panel {
  width: 350px;
  height: 225px;
}

.cat-results-picture {
  text-align: center;
  display: block;
}

.cat-description {
  font-size: 18px;
}

.flash {
  text-align: center;
  display: none;
  color: pink;
}

#facebook-button {
  /*display: none;*/
}
